* {
    margin: 0;
    padding: 0;
}

/* BODY */

body {
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 1rem;
    font-weight: 400;
}


/* .PRINCIPAL */

.principal {
    background-image: url(../assets/image/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    }

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1rem;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin: 0 0 1rem 0;
    transition: all .2s;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-fundo);
}

.botao_secundario {
    background-color: transparent;
    border: 1px solid var(--branco-principal);
}

.botao_secundario:hover {
    background-color: var(--cinza-secundario);
    border: 1px solid transparent;
}

.container__aviso {
    color: var(--cinza-secundario);
    font-size: 0.75rem;
}

.container__image {
    margin: 1rem 0 2rem 0;
    width: 50%;
}

.container__caixa {
    margin: 0 6rem;
    max-width: 580px;
}

.secundario {
    align-items: center;
    margin: 0 10rem;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 3rem;
    margin: 0 0 0.5rem 0;
}

.descricao__texto {
    font-size: 1rem;
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1rem;
}

.container__descricao {
    padding: 2rem;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5rem 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3rem;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 2rem;
    color: var(--branco-principal);
}

.rodape {
    margin: 6.25rem 7.5rem;
    text-align: center;
}

.rodape__logo {
    margin-top: 9rem;
}

.rodape__lista {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 2.5rem 0;
}

.lista__link a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--branco-principal);
    transition: color .2s;
}

.lista__link a:hover {
    color: var(--botao-azul);
    text-decoration: underline;
}

.lista__link a:active {
    color: var(--branco-principal);
}

.rodape__texto {
    color: var(--cinza-secundario);
    margin-bottom: 1.5rem;
}

@media (max-width: 1024px){

    .principal {
        background-image: none;
    }

    .container {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .secundario {
        margin: 0 2rem;
    }

    .reverse {
        display: flex;
        flex-direction: column;
    }

    .secundario__imagem {
        width: 70%;
    }

    .descricao__titulo {
        text-align: center;
        font-size: 1.75rem;
    }

    .descricao__texto {
        text-align: center;
    }

    .dispositivos {
        margin: 0 2rem;
    }

    .dispositivos__lista {
        display: flex;
        flex-direction: column;
    }

    .dispositivos__lista img {
        width: 50%;
    }

    .dispositivos__titulo {
        font-size: 1.75rem;
    }

    .lista__item {
        font-size: 1.25rem;
    }

    .rodape__lista {
        flex-wrap: wrap;
        gap: 20px;
    }
}